{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="dashboard-container">
        <img src="{{ asset('images/logo.JPG') }}" class="rounded-pill dashboard-logo" />
        <div class="rounded-pill summary-container summary-dashboard-container summary-container-1">
            <a href="{{ path('php_functions') }}" class="link">
                <p class="summary-text text-center mt-3 fs-3">
                    Functions <br>PHP
                </p>
            </a>
        </div>
        <div class="rounded-pill summary-container summary-dashboard-container summary-container-2">
            <a href="" class="link">
                <p class="summary-text text-center fs-3">
                    A venir...
                </p>
            </a>
        </div>
        <div class="rounded-pill summary-container summary-dashboard-container summary-container-3">
            <a href="" class="link">
                <p class="summary-text text-center fs-3">
                    A venir...
                </p>
            </a>
        </div>
    </div>
{% endblock %}
