{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block body %}
    {{ dump(nameWithoutParenthesis) }}
    <pre class="function-example function-container p-2 m-3 fs-5 mx-auto">{{ formattedGameExample }}</pre>
    <div class="row">
        {% for id, function in functionsNameChoice %}
            <div class="col-12 col-md-6">
                <div class="function-container function-name-container w-50 fs-5 mx-auto" data-id = {{ id }}>
                    {{ function }}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const functions = document.querySelectorAll('.function-name-container');
        let selectedElement = null;

        functions.forEach(func => {
            func.addEventListener('click', () => {
                // Ignore si l'élément est déjà correct
                if (func.classList.contains('correct')) {
                    return;
                }

                // Retire la classe "selected" des autres éléments
                functions.forEach(el => el.classList.remove('selected'));

                // Ajoute ou retire la classe "selected" sur l'élément cliqué
                if (!func.classList.contains('selected')) {
                    func.classList.add('selected');
                    selectedElement = func.dataset.id;
                } else {
                    func.classList.remove('selected');
                    selectedElement = null;
                }
            });
        });
    });
    </script>
{% endblock %}